=begin
#commit.proto

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: version not set

Generated by: https://github.com/swagger-api/swagger-codegen.git

=end

require "uri"

module SwaggerClient
  class DiffApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Returns stream of CommitDiffResponse: 1 per changed file
    # 
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [GitalyCommitDiffResponse]
    def commit_diff(body, opts = {})
      data, _status_code, _headers = commit_diff_with_http_info(body, opts)
      return data
    end

    # Returns stream of CommitDiffResponse: 1 per changed file
    # 
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GitalyCommitDiffResponse, Fixnum, Hash)>] GitalyCommitDiffResponse data, response status code and response headers
    def commit_diff_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: DiffApi.commit_diff ..."
      end
      # verify the required parameter 'body' is set
      fail ArgumentError, "Missing the required parameter 'body' when calling DiffApi.commit_diff" if body.nil?
      # resource path
      local_var_path = "/v1/diff/commit_diff".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'GitalyCommitDiffResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DiffApi#commit_diff\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
