=begin
#commit.proto

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: version not set

Generated by: https://github.com/swagger-api/swagger-codegen.git

=end

require "uri"

module SwaggerClient
  class RefApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # 
    # 
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [GitalyFindAllBranchNamesResponse]
    def find_all_branch_names(body, opts = {})
      data, _status_code, _headers = find_all_branch_names_with_http_info(body, opts)
      return data
    end

    # 
    # 
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GitalyFindAllBranchNamesResponse, Fixnum, Hash)>] GitalyFindAllBranchNamesResponse data, response status code and response headers
    def find_all_branch_names_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: RefApi.find_all_branch_names ..."
      end
      # verify the required parameter 'body' is set
      fail ArgumentError, "Missing the required parameter 'body' when calling RefApi.find_all_branch_names" if body.nil?
      # resource path
      local_var_path = "/v1/ref/find_all_branch_names".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'GitalyFindAllBranchNamesResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RefApi#find_all_branch_names\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # 
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [GitalyFindAllTagNamesResponse]
    def find_all_tag_names(body, opts = {})
      data, _status_code, _headers = find_all_tag_names_with_http_info(body, opts)
      return data
    end

    # 
    # 
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GitalyFindAllTagNamesResponse, Fixnum, Hash)>] GitalyFindAllTagNamesResponse data, response status code and response headers
    def find_all_tag_names_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: RefApi.find_all_tag_names ..."
      end
      # verify the required parameter 'body' is set
      fail ArgumentError, "Missing the required parameter 'body' when calling RefApi.find_all_tag_names" if body.nil?
      # resource path
      local_var_path = "/v1/ref/find_all_tag_names".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'GitalyFindAllTagNamesResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RefApi#find_all_tag_names\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # 
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [GitalyFindDefaultBranchNameResponse]
    def find_default_branch_name(body, opts = {})
      data, _status_code, _headers = find_default_branch_name_with_http_info(body, opts)
      return data
    end

    # 
    # 
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GitalyFindDefaultBranchNameResponse, Fixnum, Hash)>] GitalyFindDefaultBranchNameResponse data, response status code and response headers
    def find_default_branch_name_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: RefApi.find_default_branch_name ..."
      end
      # verify the required parameter 'body' is set
      fail ArgumentError, "Missing the required parameter 'body' when calling RefApi.find_default_branch_name" if body.nil?
      # resource path
      local_var_path = "/v1/ref/find_default_branch_name".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'GitalyFindDefaultBranchNameResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RefApi#find_default_branch_name\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Return a stream so we can divide the response in chunks of branches
    # 
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [GitalyFindLocalBranchesResponse]
    def find_local_branches(body, opts = {})
      data, _status_code, _headers = find_local_branches_with_http_info(body, opts)
      return data
    end

    # Return a stream so we can divide the response in chunks of branches
    # 
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GitalyFindLocalBranchesResponse, Fixnum, Hash)>] GitalyFindLocalBranchesResponse data, response status code and response headers
    def find_local_branches_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: RefApi.find_local_branches ..."
      end
      # verify the required parameter 'body' is set
      fail ArgumentError, "Missing the required parameter 'body' when calling RefApi.find_local_branches" if body.nil?
      # resource path
      local_var_path = "/v1/ref/find_local_branches".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'GitalyFindLocalBranchesResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RefApi#find_local_branches\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Find a Ref matching the given constraints. Response may be empty.
    # 
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [GitalyFindRefNameResponse]
    def find_ref_name(body, opts = {})
      data, _status_code, _headers = find_ref_name_with_http_info(body, opts)
      return data
    end

    # Find a Ref matching the given constraints. Response may be empty.
    # 
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GitalyFindRefNameResponse, Fixnum, Hash)>] GitalyFindRefNameResponse data, response status code and response headers
    def find_ref_name_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: RefApi.find_ref_name ..."
      end
      # verify the required parameter 'body' is set
      fail ArgumentError, "Missing the required parameter 'body' when calling RefApi.find_ref_name" if body.nil?
      # resource path
      local_var_path = "/v1/ref/find_ref_name".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'GitalyFindRefNameResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RefApi#find_ref_name\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
