=begin
#commit.proto

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: version not set

Generated by: https://github.com/swagger-api/swagger-codegen.git

=end

require "uri"

module SwaggerClient
  class SSHApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # To forward 'git receive-pack' to Gitaly for SSH sessions
    # 
    # @param body (streaming inputs)
    # @param [Hash] opts the optional parameters
    # @return [GitalySSHReceivePackResponse]
    def s_sh_receive_pack(body, opts = {})
      data, _status_code, _headers = s_sh_receive_pack_with_http_info(body, opts)
      return data
    end

    # To forward &#39;git receive-pack&#39; to Gitaly for SSH sessions
    # 
    # @param body (streaming inputs)
    # @param [Hash] opts the optional parameters
    # @return [Array<(GitalySSHReceivePackResponse, Fixnum, Hash)>] GitalySSHReceivePackResponse data, response status code and response headers
    def s_sh_receive_pack_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: SSHApi.s_sh_receive_pack ..."
      end
      # verify the required parameter 'body' is set
      fail ArgumentError, "Missing the required parameter 'body' when calling SSHApi.s_sh_receive_pack" if body.nil?
      # resource path
      local_var_path = "/v1/ssh/ssh_receive_pack".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'GitalySSHReceivePackResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SSHApi#s_sh_receive_pack\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # To forward 'git upload-pack' to Gitaly for SSH sessions
    # 
    # @param body (streaming inputs)
    # @param [Hash] opts the optional parameters
    # @return [GitalySSHUploadPackResponse]
    def s_sh_upload_pack(body, opts = {})
      data, _status_code, _headers = s_sh_upload_pack_with_http_info(body, opts)
      return data
    end

    # To forward &#39;git upload-pack&#39; to Gitaly for SSH sessions
    # 
    # @param body (streaming inputs)
    # @param [Hash] opts the optional parameters
    # @return [Array<(GitalySSHUploadPackResponse, Fixnum, Hash)>] GitalySSHUploadPackResponse data, response status code and response headers
    def s_sh_upload_pack_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: SSHApi.s_sh_upload_pack ..."
      end
      # verify the required parameter 'body' is set
      fail ArgumentError, "Missing the required parameter 'body' when calling SSHApi.s_sh_upload_pack" if body.nil?
      # resource path
      local_var_path = "/v1/ssh/ssh_upload_pack".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'GitalySSHUploadPackResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SSHApi#s_sh_upload_pack\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
